:root {
  --primary: #3ca7bf;
  --business: #b347d4;
  --personal: var(--primary);
  --light: black;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 4px rgba(179, 71, 212, 0.75);
  --personal-glow: 0px 0px 4px rgba(60, 167, 191, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: white;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

h3 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.create-task input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  /* border: 1px solid var(--primary); */
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-task .cate-option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-task .cate-option label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #101c43;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  color: green;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-task .cate-option label div {
  color: white;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-task input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: green;
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-task input[type="submit"]:hover {
  opacity: 0.75;
}

.task-list .list {
  margin: 1rem 0;
}

.task-list .task-item {
  display: flex;
  align-items: center;
  background-color: #17181d;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.task-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.task-item .task-content {
  flex: 1 1 0%;
}

.task-item .task-content input {
  color: white;
  font-size: 1.125rem;
}

.task-item .actions {
  display: flex;
  align-items: center;
}

.task-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.task-item .actions button:hover {
  opacity: 0.75;
}

.task-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.task-item .actions .delete {
  background-color: var(--danger);
}

.task-item.done .task-content input {
  text-decoration: line-through;
  color: rgba(165, 165, 165, 0.752);
}
